* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #beaee2;

  width: 100vw;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
  color: #cdf0ea;
  font-weight: 400;
}

/* Tablero general */

.tablero-general {
  width: 100%;
  max-width: 1366px;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Tablero de inicio */

.tablero-inicio {
  width: 30vw;
  height: 90%;
  background: #444444;
  border-radius: 10px;
}

/* Tablero de juego */

.tablero-juego {
  width: 55%;
  height: 70%;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 7px;
}

.area-tarjeta,
.cara {
  width: 100%;
  height: 100%;
  transition: transform ease 0.3s;
  cursor: pointer;
  border-radius: 10px;
}

.area-tarjeta {
  position: relative;
  transform-style: preserve-3d;
}

/* .area-tarjeta:hover {
  transform: rotateY(180deg);
} */

.cara {
  position: absolute;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.trasera {
  background: #558776;

  font-size: 350%;
  color: #15aabf;

  display: flex;
  justify-content: center;
  align-items: center;
}

.delantera {
  background: #ff7600;
  transform: rotateY(180deg);
  font-size: 350%;
  color: #ffa900;

  display: flex;
  justify-content: center;
  align-items: center;
}
